<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <form method="POST">
      <section class="secton-1">
        <div class="container">
          <div class="username">
            <p>Username:</p>
            <input name="username" />
          </div>
          <div class="password">
            <p>Password:</p>
            <input name="password" />
          </div>

          <button type="submit" class="loginCss">Register</button>
        </div>
      </section>
    </form>
  </body>
</html>
